* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding-top: 75px; /* <- para solucionar la perdida del espacio del header */
}

.header {
    text-align: center;
    padding: 25px 0;
    background-color: lightskyblue;
    color: orangered;
    position: fixed; /* pierde sus medidas y su espacio */
    top: 0;
    /* para hacer que el elemento ocupe todo el ancho, varias opciones */
    width: 100%;
    /* para solucionar el tema del espacio y que nos hemos comido el h1 -> padding-top al boddy */

}

.link {
    position: fixed;
    background-color: lightcoral;
    width: 200px;
}

