* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: lightcoral;
    /*font-size: 10px; /* modificamos el tamaño de fuente referente al .title para ver que rem no cambia pero em si */
}

/* .title {
    font-size: 2em;
} */

.link {
    background-color: lightcoral;
    color: #333;
    /*padding: 16px 32px;*/
    padding: 1em 2em;
    /* border-radius: 8px; */
    border-radius: .5em;
    font-size: 2rem;
}

